.navbar {
    background-color: rgba(59, 130, 246, 0.5);
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar .nav-item .nav-link {
    color: black;
}
.navbar .nav-item .nav-link:hover {
    color: white;
}
.iconUserCart {
    display: flex;
    list-style-type: none;
}
.iconUserCart li {
    height: 40px;
    line-height: 40px;
}
.iconUserCart img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding-left: 3px;
}
.iconUserCart li {
    position: relative;
    padding-right: 25px;
}
#ex4{
    position: absolute;
    top: -15px;
    right: 50px;
    width: 20px;
    height: 30px;
}
#ex4 .p1[data-count]:after{
    position:absolute;
    right:10%;
    content: attr(data-count);
    font-size:40%;
    padding:.2em;
    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.85);
  }
